html{
	background-color: #3C7A89;
}

#map{
	height:  100vh;
	width: 50%;
	float: left;
	border-radius: 50%;
	box-shadow: 6px 10px 10px #124559;
}

#map:hover{
	
}

/* .city-table{
	border: .5px solid #3D405B;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 3px 5px 5px #124559;
} */
#cities-container{
	float: left;
	margin-left: 20px;
}

.cities-table{
	/* border: 2px solid black; */
	/* box-shadow: 3px 5px 5px black; */
	height: 90%;
}

.city-rank{
	/* background-color: red; */
	/* box-shadow: 3px 5px 5px black; */
}

.city-name{
	/* background-color: green; */
	/* box-shadow: 3px 5px 5px black; */
}

.city-land-area{
	/* background-color: blue; */
	/* box-shadow: 3px 5px 5px black; */
}

.city-population{
	/* background-color: yellow; */
	/* box-shadow: 3px 5px 5px black; */
}

th{
	background-color: #2E4756;
	color: white;
	/* background-color: purple; */
	/* box-shadow: 3px 5px 5px black; */
}

.button{
	border: 1px solid grey;
	background-color: #16262E;
	width: 150px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 5px;
	border-radius: 5px;
	color: white;

}
