html{
	background-color: #3C7A89;
}

body{
	background-color: #3C7A89 !important;
}

#map{
	height:  75vh;
	width: 100%;
	margin-top: 125px;
	background-color: #3C7A89;
	position: absolute;
	/* float: left; */
	/* border-radius: 50%; */
	box-shadow: 6px 10px 10px #124559;
}

#cities-container{
	margin-top: 0px;
	/* width: 100%; */
	/* margin-left: 20px; */
	/* width: 25%; */
	/* opacity: .8; */
	/* position: absolute; */
	/* left: 100px; */
}

.get-directions-wrapper, .locate-wrapper{
	margin-left: 40%;
	margin-bottom: 50px;
}

.input{
	/* margin: 10px; */
}



.button{
	border: 1px solid grey;
	background-color: #16262E;
	width: 150px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 5px;
	border-radius: 5px;
	color: white;
}

.active{
	background-color: black;
	color: white;
}
